.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.no-events {
  width: 100%;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile {
  grid-template-columns: 1fr;
}
