<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="'dialog'"
    mode="over"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <app-nav-links></app-nav-links>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Seattle</span>
      <span class="fill-remaining"></span>
      <app-nav-links
        [horizontal]="true"
        *ngIf="!(isHandset$ | async)"
      ></app-nav-links>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
