.intro {
  height: 100vh;
  background: url('/assets/img/seattle-skyline.jpg') no-repeat center center fixed; // Photo by oakie on Unsplash
  background-size: cover;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .intro-text {
    font-size: 4rem;
    text-align: center;
    &,
    img {
      opacity: 1;
    }
  }
}

.mobile {
  &.intro.handset-portrait {
    background-position: -210px center;
  }
  &.intro-text {
    font-size: default;
  }
  &.ng-seattle-logo {
    height: 150px;
    width: auto;
  }
}
